.location {
    background-color: #062226;
    color: white;
    width: 100%;
    max-width: 30em;
    padding: 2em 2.5em 2.5em;
    border-radius: 1em;
    margin-bottom: 1.5em;
    margin-left: auto;
    margin-right: auto;

    &:hover {
        filter:brightness(1.3);
    }
}

.location__name {
    text-align: center;
    font-weight: 500;
    color: rgb(30, 180, 30);
    margin-bottom: 0.7em;

}
.location__list {
    display: flex;
    justify-content: space-between;
    gap: 1em;

}
.location__item {
    display: grid;
    justify-items: center;
    gap: 0.3em;
}
.location__label {
    font-size: 0.93m;
    color: #999;

}
.location__value {
    font-size: 0.95em;
}